@font-face {
  font-family: 'Agipo';
  src: local('Agipo'), url(./fonts/AgipoBoldCond-2.woff) format('woff'),
    url(./fonts/AgipoBoldCond-2.woff2) format('woff2'),
    url(./fonts/AgipoBoldCond-2.otf) format('otf');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Regular.woff) format('woff'),
    url(./fonts/Lato-Regular.woff2) format('woff2'), url(./fonts/Lato-Regular.otf) format('otf');
}

.App {
  padding: 1.125rem 1.5rem;

  @media(min-width: 992px) {
    padding: 1.6875rem 3.75rem;
  }

  .header {
    padding-bottom: 1.125rem;
    margin-bottom: 2.75rem;

    @media(min-width: 992px) {
      padding-bottom: 1.6875rem;
      margin-bottom: 3.25rem;
    }

    .petplate-logo {
      height: auto;
      width: 8.5rem;

      @media(min-width: 992px) {
        width: 10rem;
      }
    }
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media(min-width: 992px) {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }

    .content {
      display: flex;
      flex-direction: column;

      @media(min-width: 992px) {
        align-self: center;
      }

      .title {
        color: #0055B8;
        font-family: Agipo, Arial, serif;
        font-size: 5.5rem;
        line-height: 5rem;
        letter-spacing: -0.165rem;
        font-style: normal;
        font-weight: 400;
        margin: 0px;

        @media(min-width: 992px) {
          font-size: 11.25rem;
          line-height: 10rem;
          letter-spacing: -0.3375rem;
        }
      }

      .text {
        color: #131923;
        font-family: Lato, Arial, serif;
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: -0.0125rem;
        font-style: normal;
        font-weight: 400;

        @media(min-width: 992px) {
          font-size: 2rem;
          line-height: 2.75rem;
          letter-spacing: -0.02rem;
        }
      }
    }

    .image-container {
      .mobile-illustration {
        width: 100%;
        height: auto;
        object-fit: contain;

        @media(min-width: 992px) {
          display: none;
        }
      }

      .desktop-illustration {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: none;

        @media(min-width: 992px) {
          display: initial;
        }
      }
    }
  }
}